.col {
  display: inline-block;
  width: 33%;
  position: relative;
  overflow: hidden;
  margin: 0px 2px;
  background: #ccc;
  /*
  // http://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/
  */
  .thumbnail {
    height: 250px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .caption {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      color: #fff;
      h3 {
        padding: 0px 0 0 15px;
      }
      p {
        padding: 0px 10px 0 15px;
      }
    }
    &:hover {
      .caption {
        display: block;
        z-index: 9;
        background: rgba(0,0,0,.5);
      }
    }
  }
}