<a href="/"><img class="logo" src="assets/images/angular.png" alt=""></a>
<ul class="navigation">
	<li><a ui-sref-active="active" ui-sref="home">Projekty</a></li>
	<li><a ui-sref-active="active" ui-sref="offer">Oferta</a></li>
	<li><a ui-sref-active="active" id="omnie" ui-sref="about">O mnie</a></li>
	<li><a ui-sref-active="active" ui-sref="contact">Contact</a></li>
</ul>

<ul class="social">
	<li><a href=""><i class="fa fa-behance"></i></a></li>
	<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
	<li><a href=""><i class="fa fa-instagram"></i></a></li>
</ul>
