@mixin box-shadow($val, $color) {
  -webkit-box-shadow: $val $color;
 	 -moz-box-shadow: $val $color;
  			  shadow: $val $color;	
}
.navbar {
  position: relative;
  min-height: 50px;
  max-height: 80px;
  background-color: #eee;
  color: #333;
  margin-bottom: 2px;
  z-index: 999;
  @include box-shadow(0px 2px 10px 5px, rgba(0,0,0,.3));
	.deco {
		left: 0;
		right: 0;
		height: 5px;
		background: url('../assets/images/marged.png');
		background-repeat: repeat-x;
		position: absolute;
	}
	.logo {
		margin: 15px 0px 15px 20px;
		width: 40px;
		height: 30px;
		display: inline-block;
		vertical-align: bottom;
		background: url('../assets/images/marged.png');
		background-position: -147px -10px;

	}
	ul {
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		li {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			a {
				font-weight: 400;
				color: #4f4f4f;
				padding: 15px;
				line-height: 20px;
				cursor: pointer;
				i {
					font-size: 1.5em;
				}
			}
		}
	}
	.navigation {
		margin-left: 25%;
		li {
			a {
				&:hover {
			  		color: #000 !important;
					font-weight: 800 !important;
				}
			}
		}
	}
	.social {
		float: right;
		li:nth-child(1) {
			a {
				&:hover {
					color: blue;
				}
			}
		}
		li:nth-child(2) {
			a {
				&:hover {
					color: #3B5998;
				}
			}
		}
		li:nth-child(3) {
			a {
				&:hover {
					color: yellow;
				}
			}
		}
	}
}
