.row.project {
	margin: 0 10%;
	position: relative;
	> div {
		width: 70%;
		border: 1px solid #ccc;
		header {
			margin: 5px 25px 20px 25px;
			padding: 20px 0;
			border-bottom: 1px solid #333;
			h1 {
				font-size: 1.3em;
				margin: 0px 0px 25px;
			}
			p {
				span {
					font-size: .8em;
					color: #222;
				}
			}
			div.watchers {
				margin: 15px 0;	
				span {
					i {
						margin: 0 10px;
					}
					&:after {
						content: '|';
						padding: 0 10px 0 15px;
						font-size: 1em;
					}
					&:last-child:after {
						content: '';
					}
				}
			}
			div.tags {
				p {
					span {
						margin: 0 5px;
						&:after {
							content: '|';
							padding: 0 10px 0 15px;
							font-size: 1em;
						}
						&:last-child:after {
							content: '';
						}
					}
				}
			}
		}
		section {
			.desc {
				margin: 20px 25px;
				padding: 20px 0;
				border-bottom: 1px solid #eee; 
			}
			img.gallery {
				width: 90%;
				margin: 10px auto;
				padding: 25px 0;
				border-bottom: 1px solid #ccc;
			}
		}
		.social {
			margin: 0 auto;
			text-align: center;
			div.thumbUp {
				cursor: pointer;
				width: 90px;
				height: 90px;
				background: #fda;
				border-radius: 100px;
				position: relative;
				margin: 40px auto;
				i {
					position: absolute;
					left: 0;
					right: 0;
					top: 32%;
					font-size: 2em;
					color: #fff;
					text-align: center;
				}
			}
		}
	}
	aside {
		position: absolute;
		right: 0;
		top: 0;
		width: 25%;
		vertical-align: top;
		border: 1px solid #ccc;
		text-align: left;
		padding: 0px 10px 10px 10px;
		h2 {
			font-size: 1em;
			margin: 25px 0 10px 0;
		}
		div {
			img {
				display: inline-block;
				width: 50px;
			}
			div {
				display: inline-block;
				vertical-align: top;
			}
		}
		a.btn {
			width: 80%;
			margin: 10px auto;
			display: block;
			border: 1px solid #ccc;
			text-align: center;
			padding: 5px 0;
			font-weight: 800;
			color: #333;
			i {
				color: #333;
				margin-right: 10px;
			}
		}
	}
	.sticky {
		position: fixed;
		top: 0;
		right: 0;
	}
}
footer.row {
	padding: 80px 0 0 0;
}