/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
input, select {
    vertical-align:middle;
}
body {
  margin: 0;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
  position: relative;
  .container {
    section {
      text-align: center;
      * {
        text-align: left;
      }
    }
  }
  footer {
    text-align: center;
    width: 100%;
  }
}


.row {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  div {
    text-align: left;
  }
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: block !important;
}
.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: block !important;
}
.legal {
  font-size: .8em;
}
div.buttons {
  margin: 50px auto 0 auto;
  display: inline-block;
  text-align: center;
  a.btn {
  background: #fda;
  padding: 10px 35px;
  color: #fff;
  box-shadow: 4px 4px 4px #ccc;
  }
}
.navbar ul li a.active {
  color: #000 !important;
  font-weight: 800 !important;
}
.container footer.row {
  padding: 0px 0px 0px 0px;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

@media only screen and (min-width : 220px) and (max-width: 320px) {

}
@media only screen and (min-width : 320px) and (max-width: 440px) {
.aboutBG {
  display: none;
}
.offerBG_img {
  background-position: 0px 150px;
  background-size: 100% 10%;
}
section {
    margin: 50px auto 0 auto;
    .col {
      width: 100%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px; 
    a.logo {
      margin: 15px 0px 15px 0px;
      width: 35px;
      display: inline-block;
      margin: 10px 0 0 0;
    }    
    .navigation {
      margin: 15px 0px 0px 0;
      display: inline-block;
      li {
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 4px 10px 4px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      display: none;
    }
  }
  .row {
    width: 95%;
    padding: 80px auto 0;
  }
  .about {
    > div {
      padding: 50px 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 100%;
          }
          p {
            width: 85%;
          }
          i {
            width: 10%;
            text-align: right;
            margin: 0;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a#switcher {
          display: none;
        }
      }
    }
  }
  .row.contact {
    padding: 50px 0;
    form {
      width: 100%;
      div {
        width: 100%;
        margin: 10px 0;
        input {
          width: 100%;
          font-size: 1.2em;
          padding: 0px 0px;
        }
      }
      textarea {
        margin: 10px auto;
        width: 100%;
        overflow: hidden;
        padding: 0 0 0 0;
        height: 200px;
        font-size: 1.5em;
      }
      input[type="submit"] {
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        font-size: 1.5em;
        margin: 10px auto;
      }
    }
    img.formImg {
      display: none;
    }
  }
  .row.offer {
    > div {
      width: 100%;
      display: block;
      div.buttons {
        text-align: center;
        width: 100%;
        padding: 0 0;
        a.btn {
        }
      }

    }
    div.content {
      width: 90%;
      margin: 0px auto;
    }
  }
  .row.project {
    margin: 80px auto 0 auto;
    > div {
      border: none;
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  footer.row {
    padding: 10px 0;
    margin: 10px auto;
  }
}
@media only screen and (min-width : 441px) and (max-width: 570px) {
.aboutBG {
  display: none;
}
.offerBG_img {
  background-position: 0px 150px;
  background-size: 100% 10%;
}
 section {
    margin: 50px auto 0 auto;
    .col {
      width: 100%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px; 
    a.logo {
      width: 35px;
      display: inline-block;
      margin: 10px 0 0 0;
    }    
    .navigation {
      margin: 15px 0px 0px 9%;
      display: inline-block;
      li {
        margin: 0 10px 0 10px;
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 4px 10px 4px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      display: none;
    }
  }
  .row {
    width: 95%;
    margin: 80px auto 0;
  }
  .about {
    > div {
      padding: 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 100%;
          }
          p {
            width: 89%;
            font-size: 1.3em;
          }
          i {
            width: 10%;
            text-align: right;
            margin: 0;
            font-size: 1.3em;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a#switcher {
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  .row.contact {
    form {
      width: 100%;
      div {
        width: 100%;
        margin: 10px 0;
        input {
          width: 100%;
          font-size: 1.2em;
          padding: 0px 0px;
        }
      }
      textarea {
        margin: 10px auto;
        width: 100%;
        padding: 0 0 0 0;
        height: 200px;
        font-size: 1.5em;
      }
      input[type="submit"] {
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        font-size: 1.5em;
        margin: 10px auto;
      }
    }
    img.formImg {
      display: none;
    }
  }
  .row.offer {
    > div {
      width: 100%;
      display: block;
      div.buttons {
        text-align: center;
        width: 45%;
        padding: 0 0;
      }

    }
    div.content {
      width: 90%;
      margin: 0px auto;
    }
  }
  .row.project {
    margin: 80px auto 0 auto;
    > div {
      border: none;
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  footer.row {
    margin: 0px auto;
    padding: 10px 0;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 561px) and (max-width: 768px) {
.aboutBG {
  background-position: 300px bottom;
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: -10;
  min-height: 100%;
}
  .offerBG_img {
    background-position: 0px 150px;
    background-size: 100% 30%;
  }
   section {
    overflow: hidden;
    margin: 50px auto 0 auto;
    .col {
      width: 50%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px; 
    a.logo {
      width: 35px;
      display: inline-block;
      margin: 10px 0 0 5%;
    }    
    .navigation {
      margin: 15px 15px 0px 10px;
      display: inline-block;
      li {
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 10px 10px 10px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      margin-left: 0px;
      float: right;
      li {
        a {
          padding: 5px;
        }
      }
    }
  }
  .row {
    width: 95%;
    margin: 80px auto 0;
  }
  .about {
    > div {
      padding: 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 100%;
          }
          p {
            width: 89%;
            font-size: 1.3em;
          }
          i {
            width: 10%;
            text-align: right;
            margin: 0;
            font-size: 1.3em;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a#switcher {
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  .row.contact {
    form {
      width: 95%;
      div {
        width: 98%;
        margin: 10px 0;
        input {
          width: 100%;
          font-size: 1.2em;
          padding: 2px 5px;
        }
      }
      textarea {
        margin: 10px auto;
        width: 100%;
        padding: 0 0 0 0;
        height: 200px;
        font-size: 1.5em;
      }
      input[type="submit"] {
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        font-size: 1.5em;
        margin: 10px auto;
      }
    }
    img.formImg {
      display: none;
    }
  }
  .row.offer {
    > div {
      width: 100%;
      display: block;
      div.buttons {
        text-align: center;
        width: 45%;
        padding: 0 0;
      }

    }
    div.content {
      width: 90%;
      margin: 0px auto;
    }
  }
  .row.project {
    margin: 80px auto 0 auto;
    > div {
      border: none;
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  footer.row {
    margin: 0px auto;
    padding: 10px 0;
  }
  
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 768px) and (max-width : 992px) {
  .aboutBG {
    background-position: 350px bottom;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: -10;
    min-height: 100%;
  }
  .offerBG_img {
    background-position: 0px 150px;
    background-size: 100% 30%;
  }
  section {
    margin: 50px auto 0 auto;
    .col {
      width: 50%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px;   
    .navigation {
      margin: 15px 15px 0px 15px;
      display: inline-block;
      li {
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 10px 10px 10px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      margin-left: 0px;
      float: right;
    }
  }
  .row {
    width: 95%;
    margin: 80px auto 0;
  }
  .about {
    > div {
      padding: 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 100%;
          }
          p {
            width: 89%;
            font-size: 1.3em;
          }
          i {
            width: 10%;
            text-align: right;
            margin: 0;
            font-size: 1.3em;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a#switcher {
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  .row.contact {
    form {
      width: 100%;
      div {
        width: 90%;
        margin: 10px 0;
        input {
          width: 100%;
          font-size: 1.2em;
          padding: 2px 5px;
        }
      }
      textarea {
        margin: 10px 0;
        width: 90%;
        padding: 10px 10px;
        height: 200px;
        font-size: 2em;
      }
      input[type="submit"] {
        width: 92%;
        text-align: center;
        font-size: 1.5em;
        margin: 10px auto;
      }
    }
    img.formImg {
      display: none;
    }
  }
  .row.offer {
    > div {
      width: 100%;
      display: block;
      div.buttons {
        text-align: center;
        width: 45%;
        padding: 0 0;
      }

    }
    div.content {
      width: 90%;
      margin: 0px auto;
    }
  }
  .row.project {
    margin: 80px auto 0 auto;
    > div {
      border: none;
      width: 100%;
    }
    aside {
      display: none;
    }
  }
  footer.row {
    margin: 0px auto;
    padding: 10px 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) and (max-width: 1240px) {
.aboutBG {
  background-position: 500px bottom;
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: -10;
  min-height: 100%;
}
.offerBG_img {
  background-position: 0px 150px;
}

  section {
    overflow: hidden;
    margin: 50px auto 0 auto;
    .col {
      width: 33%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px;    
    .navigation {
      margin: 15px 15px 0px 15px;
      display: inline-block;
      li {
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 10px 10px 10px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      margin-left: 0px;
      float: right;
    }
  }
  > .row {
    margin: 80px auto 0;
  }
  .about {
    margin-top: 80px;
    > div {
      padding: 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 100%;
          }
          p {
            width: 89%;
            font-size: 1.3em;
          }
          i {
            width: 10%;
            text-align: right;
            margin: 0;
            font-size: 1.3em;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a#switcher {
          left: 0;
          bottom: 0;
        }
      }
    }
  }
  .row.offer {
    > div {
      width: 40%;
      display: inline-block;
      div.buttons {
        text-align: center;
        width: 45%;
        padding: 0 0;
        a.btn {
        }
      }

    }
    div.content {
      width: 55%;
      margin: 0px auto;
    }
  }
  .row.contact {
    margin-top: 80px;
  }
  .row.project {
    margin: 50px auto 0 auto;
    .sticky {
      position: fixed;
      top: 50px;
      right: 0;
    }
  }
  footer.row {
    padding: 10px 0 0 0;
    margin: 10px auto;
  }
}





