/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}
input, select {
    vertical-align:middle;
}
body {
  margin: 0;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
  .container {
    section {
      text-align: center;
      * {
        text-align: left;
      }
    }
  }
  footer {
    text-align: center;
    width: 100%;
  }
}


.row {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  div {
    text-align: left;
  }
}

.white {
  background: rgba(255,255,255,.5);
  color: #222;
  transition: 1s background linear;
  transition: 2s color linear;

}
.black {
  background: rgba(0,0,0,.8);
  color: #fff;  
  transition: 1s background linear;
  transition: 1s color linear;
}

.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: block !important;
}
.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: block !important;
}
.legal {
  font-size: .8em;
}
div.buttons {
  margin: 50px auto 0 auto;
  display: inline-block;
  text-align: center;
  a.btn {
  background: #fda;
  padding: 10px 35px;
  color: #fff;
  }
}
.navbar ul li a.active {
  color: #000 !important;
  font-weight: 800 !important;
  border-bottom: 3px solid #333;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width: 480px) {
 section {
    margin: 50px auto 0 auto;
    .col {
      width: 100%;
      margin: 2px auto;
    }
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 50px; 
    img.logo {
      display: none;
    }    
    .navigation {
      margin: 10px 10px 0px 10px;
      li {
        &:first-child {
          display: none;
        }
        .active {
          border-bottom: 3px solid #333;
        }
        a {
          padding: 0px 5px 5px 5px;
          font-weight: 800;
          &:hover {
            border-bottom: 3px solid #333;
          }
        }
      }
    }
    .social {
      display: none;
    }
  }
  .row {
    width: 95%;
    margin: 80px auto 0;
  }
  .about {
    > div {
      padding: 0 0;
      width: 100%;
      div.column-7 {
        display: block;
        width: 100%;
        margin: 50px auto;
        text-align: center;
        div.skill {
          div {
            width: 90%;
          }
          p {
            width: 75%;
          }
          i {
            width: 15%;
            text-align: center;
            margin: 0;
          }
        }
      }
      div.column-2 {
        display: block;
        width: 100%;
        a.switcher {
          display: none;
        }
      }
    }
  }
  .row.contact {
    form {
      width: 100%;
      div {
        width: 90%;
        margin: 10px 0;
        input {
          width: 100%;
          font-size: 1.2em;
          padding: 2px 5px;
        }
      }
      textarea {
        margin: 10px 0;
        width: 90%;
        padding: 10px 10px;
        height: 200px;
        font-size: 2em;
      }
    }
  }
  .row.offer {
    > div {
      width: 100%;
      display: block;
      div.buttons {
        text-align: center;
        width: 100%;
        padding: 0 0;
        a.btn {
        }
      }

    }
    div.content {
      width: 90%;
      margin: 0px auto;
    }
  }
  .row.project {
    margin: 80px auto 0 auto;
    > div {
      border: none;
      width: 90%;
    }
    aside {
      display: none;
    }
  }
  footer.row {
    margin: 0px auto;
    padding: 10px 0;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}






