.errors {
	h2 {
		font-size: 3em;
		line-height: 3em;
	}
	div {
		margin: 50px auto;
		text-align: center;
		a.btn {
			margin-top: 50px;
			background: #fda;
			padding: 10px 35px;
			color: #fff;
			font-weight: 600;
		}	
	}
	
}

